<h2 mat-dialog-title>Create Product</h2>

<mat-dialog-content [formGroup]="productForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Product Image URL</mat-label>
    <input matInput formControlName="image" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="saveProduct()">
    Save Product
  </button>
</mat-dialog-actions>
