<!-- <p-button (click)="showDialog()" label="Show" />
<p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <p>
        Lorem ipsum dolor sit amet...
    </p>
</p-dialog>   -->



<!-- <p-dialog header="Header"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [maximizable]="true">
  <p>This is inside dialog</p>
</p-dialog> -->
<p-dialog 
  header="Auction Over" 
  [(visible)]="visible" 
  [modal]="true" 
  [closable]="true" 
  (onHide)="handleDialogClose()"
  [style]="{width: '30vw'}">
  <p>{{ auctionMessage }}</p>
</p-dialog>