<div class="my-search-container">
    <div class="header-bar">
       <h1>Search Auction</h1>

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Auctions</mat-label>
      <input matInput  placeholder="Search by name, product..." />
      <button mat-icon-button matSuffix >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="cards-grid">
    <mat-card *ngFor="let auction of auctions" class="auction-card mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{ auction.auctionName }}</mat-card-title>
        <mat-card-subtitle>
          Auction ID: {{ auction.auctionId }}
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="auction.productImage" alt="{{ auction.productName }}" />

      <mat-card-content>
        <p class="product-name">{{ auction.productName }}</p>
        <p>Initial Bid: <strong>{{ auction.finalPrice | currency }}</strong></p>
        <p>Start: {{ auction.startDate | date }}</p>
        <p>End: {{ auction.endDate | date }}</p>
        <div class="liveJoining">
          <!-- Status Badge -->
          <span class="status-badge"
                [ngClass]="{
                  ongoing: auction.status === 'Live',
                  upcoming: auction.status === 'Upcoming',
                  ended: auction.status === 'Ended'
                }">
            {{ auction.status }}
          </span>
        
          <!-- Actions based on status -->
          <div class="action-buttons">
            <!-- Bell for upcoming -->
            <mat-icon 
              *ngIf="auction.status === 'Upcoming'" 
              class="bell-icon" 
              (click)="subscribeToAuction(auction.auctionId,$event)"
              [ngClass]="{ subscribed: auction.subscribed }"
            >
              {{ auction.subscribed ? 'notifications_active' : 'notifications_none' }}
            </mat-icon>
        
            <!-- Join button for live -->
            <button 
              *ngIf="auction.status === 'Live'" 
              (click)="redirectToRoom(auction.auctionId)" 
              class="join-button">
              Join
            </button>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>

  <mat-paginator
    [length]="totalAuctions"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
