<div class="top-navbar">
    <div class="navbar-left">
      <mat-icon (click)="toggle()">menu</mat-icon>
      <span>Auction House</span>
    </div>
    <div class="navbar-right">
      <div class="user-info">
        <span>{{userName}}</span>
        <mat-icon>account_circle</mat-icon>
      </div>
      <button class="logout-button" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>
  


<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer mode="push" opened="true">
      <app-navigation></app-navigation> <!-- Your side nav component -->
    </mat-drawer>
  
    <mat-drawer-content>
        <router-outlet></router-outlet>

      <!-- <button (click)="toggle()">Toggle Drawer</button> -->
    </mat-drawer-content>
  </mat-drawer-container>
  